@section Styles {
  <link href="~/css/adminLayout.css" rel="stylesheet" type="text/css" />
}

@using Bloggie.Models

@{
  Layout = "_MainLayout";

  ViewData["Title"] = "Admin";

  SidebarItem[] UserDropdownItems = {
    new SidebarItem("ListUser", "User list", "user-friends"),
    new SidebarItem("CreateUser", "Create user", "user-plus"),
    new SidebarItem("UpdateUser", "Update user", "user-edit"),
  };
}

<div class="admin-layout">
  <!-- Sidebar -->
  <nav class="admin-layout__sidebar">
    <ul class="list-unstyled components">

      <vc:sidebar-dropdown-component
        base-url="/Admin/User"
        label="User"
        sidebar-items="UserDropdownItems"
      />
      
    </ul>
  </nav>

  <!-- Page Content -->
  <div class="admin-layout__content">
    @RenderBody()
  </div>
</div>    



