@using System.Security.Claims

@section Styles {
  <link href="~/css/profile.css" rel="stylesheet" type="text/css" />
}

@{
  Layout="_MainLayout";
}

<div class="profile-layout row w-100 my-n3 mx-0">
    <div>
      <h4>@User.FindFirst(ClaimTypes.Name).Value</h4>
      <nav>
        <ul style="list-style: none;">
          <li>
            <a asp-page="/Profile/User/ChangeUserName">
              <i class="fa fa-user-cog"></i> Change username
            </a>  
          </li>
          
          <li>
            <a asp-page="/Profile/User/ChangePassword">
              <i class="fa fa-lock"></i> Change password
            </a> 
          </li>
        </ul>
      </nav>
    </div>
    <div class="profile-layout__content col pt-3 pr-0 pb-3 pl-3">
          @RenderBody()
    </div>
</div>
