.admin-layout {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.admin-layout__sidebar {
  width: 150px;
  min-height: 100%;
}

.admin-layout__content {
  padding-left: 20px;
}

/* Sidebar dropdown container */
.sidebar-dropdown {
}

/* Sidebar dropdown label */
.sidebar-dropdown__label {
  position: relative;
  display: block;
  font-size: 20px;
}

/* Sidebar dropdown label arrow */
.sidebar-dropdown__label::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* Sidebar dropdown items container */
.sidebar-dropdown__items {
  padding-left: 8px;
}

/* Sidebar dropdown item */
.sidebar-dropdown__item {
}

/* Sidebar dropdown item label hover */
.sidebar-dropdown__item a:hover {
  text-decoration: none;
}

/* Sidebar dropdown item label hover text */
.sidebar-dropdown__item a:hover span {
  text-decoration: underline;
}

/* Sidebar dropdown item icon */
.sidebar-dropdown__item span {
  margin-left: 4px;
}

/* Active sidebar dropdown label and item */
.sidebar-dropdown .active {
  font-weight: bold;
}
