@page
@model Bloggie.Pages.LoginModel
@{
    Layout = "_MainLayout";
}
<!DOCTYPE html>
<html>
<head>
	<title>Đăng nhập</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="col-sm-10" style="width: 600px;margin-left: 250px;margin-top: 50px;">
		<div class="jumbotron">
			<div class="form-group" style="margin-top: -50px">
				<h1 style="margin-left: 165px;">
					Đăng nhập
				</h1>
			</div>

			<hr>

			<form method="POST" class="needs-validation form-horizontal" style="margin-left: 50px;" novalidate>
				<div class="form-group input-group">
					<span class="input-group-prepend">
						<span class="input-group-img"><i class="fa fa-user" style="font-size: 36px; margin-right:6px;"></i></span>
					</span>
					<input type="email" name="email" class="form-control" asp-for="Email" placeholder="nhập email..." style="border-radius: 20px;" required>
					<div class="invalid-feedback">Email không được để trống!</div>
				</div>

				<div class="form-group input-group">
					<span class="input-group-addon">
						<span class="input-group-img"><i class="fa fa-lock" style="font-size: 36px; margin-left: 2px; margin-right:6px;"></i></span>
					</span>

					<input type="password" class="form-control" asp-for="Password" name="password" placeholder="nhập mật khẩu..." style="border-radius: 20px;" required>
					<div class="invalid-feedback">Mật khẩu không được để trống!</div>
				</div>


				<div class="text-danger">
						@Model.Message
				</div>
				
				<div class="form-group">
					<button class="btn btn-primary" style="width: 200px; margin-left: 120px; border-radius: 16px;">Đăng nhập</button>
				</div>
				
				<div class="row">
				
					<div class="form-group col-sm-6">
						Chưa có tài khoản?
						<a asp-page="/Register">Đăng ký</a>
					</div>	
					<div class="form-group col-sm-6">
						<a href="#" style="margin-left: 60px;">Quên mật khẩu</a>
					</div>

				</div>

			</form>

		</div>
	</div>
</div>

<script src="~/js/Register.js"></script>

</body>
</html>

