@page
@model Bloggie.Pages.LoginModel
@{
    Layout = "_MainLayout";
}

@section Styles {
  <link href="~/css/adminLayout.css" rel="stylesheet" type="text/css" />
}

<!DOCTYPE html>
<html>
<head>
	<title>Đăng nhập</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="col-sm-10" style="width: 600px;margin-left: 250px;margin-top: 50px;">
		<div class="jumbotron">
			<div class="form-group" style="margin-top: -50px">
				<h1 style="margin-left: 165px;">
					Đăng nhập
				</h1>
			</div>

			<hr>

			<form class="form-horizontal" style="margin-left: 50px;" method="POST">
				<div class="form-group input-group">
					<span class="input-group-prepend">
						<span class="input-group-img"><img src="./icon/user.png"></span>
					</span>
					<input type="email" class="form-control" asp-for="Email" placeholder="nhập email..." style="border-radius: 20px;" required>
				</div>
				<div class="form-group input-group">
					<span class="input-group-addon">
						<span class="input-group-img"><img src="./icon/pass.png"></span>
					</span>
					<input type="password" class="form-control" asp-for="Password" placeholder="nhập mật khẩu..." style="border-radius: 20px;" required>
				</div>
				<div class="text-danger">
						@Model.Message
				</div>
				<div class="form-group">
					<button class="btn btn-primary" style="width: 200px; margin-left: 120px; border-radius: 16px;">Đăng nhập</button>
				</div>

				<div class="form-group">
					<a href="#" style="margin-left: 320px;">Quên mật khẩu</a>
				</div>

                <div class="form-group">
                    Chưa có tài khoản?
					<a asp-page="/Register">Đăng ký</a>
				</div>

			</form>

		</div>
	</div>
</div>


<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	
</body>
</html>

