@page
@model Bloggie.Pages.LogoutModel
@{
}
<div class="text-center">
  <h2>@Model.SuccessMessage</h2>
  <h4 class="text-danger">@Model.ErrorMessage</h4>
  <a  class="btn btn-primary" asp-page="/">Homepage</a>
</div>