@page
@model Bloggie.Pages.RegisterModel

@{
  Layout = "_MainLayout";
}

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/Register.js"></script>
}

<div class="row no-gutters justify-content-center align-self-center mx-auto">
	<div style="width: 400px">
		<div class="display-4 text-center">
			Register
		</div>

		<hr class="my-4">

		<form method="POST" class="needs-validation" novalidate>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text bg-white">
							<i class="fas fa-envelope fa-fw text-primary"></i>
						</div>
					</div>

					<input required type="email" class="form-control rounded-right" asp-for="Email" name="Email" placeholder="Email">

					<div class="invalid-feedback">
						<span asp-validation-for="Email"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text bg-white">
							<i class="fas fa-user fa-fw text-primary"></i>
						</div>
					</div>

					<input required type="text" class="form-control rounded-right" asp-for="FullName" name="FullName" placeholder="Full name">

					<div class="invalid-feedback">
						<span asp-validation-for="FullName"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text bg-white">
							<i class="fas fa-lock fa-fw text-primary"></i>
						</div>
					</div>

					<input required type="password" class="form-control rounded-right" asp-for="Password" name="Password" placeholder="Password">
					
					<div class="invalid-feedback">
						<span asp-validation-for="Password"></span>
					</div>
				</div>
			</div>

			@if (@Model.ErrorMessage != null) {
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Error:</strong> @Model.ErrorMessage
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
			}

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
			</div>
			
			<div class="text-center">
				Already have an account? <a asp-page="/Login">Login</a>
			</div>
		</form>
	</div>
</div>
