@model Bloggie.Models.SidebarItem

<li class="sidebar-dropdown__item">
  <a href="@Model.Url" class="@(Model.Active ? "active" : "")">
    <i class="fas fa-@(Model.Icon)"></i>
    <span>@(Model.Title)</span>
  </a>
</li>