@page
@model Bloggie.Pages.ChangeUserNameModel

@{
    Layout = "_ProfileLayout";
    ViewData["Title"] = "Profile";
}
<div class="container">
<h2>Change username</h2>
<form method="POST" onsubmit="return checkFn(this)" class="needs-validation" novalidate>
    <div class="form-group">
        <label>New username:</label>
        <input type="text" class="form-control" placeholder="Fullname..." style="border-radius: 20px;" required>
        <div class="invalid-feedback">Full name cannot be left blank!</div>
    </div>
    <div class="form-group">
        <label>Confirm new username:</label>
        <input asp-for="@Model.FullName" type="text" class="form-control" placeholder="Fullname..." style="border-radius: 20px;" required>
        <div class="invalid-feedback">Full name cannot be left blank!</div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" style="width: 130px; border-radius: 16px;">Save changes</button>
    </div>
</form>
</div>
<script src="~/js/Register.js"></script>
