@page
@model Bloggie.Pages.ChangePasswordModel

@{
    Layout = "_ProfileLayout";
    ViewData["Title"] = "Profile";
}
<div class="container">
<h2>Change password</h2>
<form method="POST" onsubmit="return checkPw(this)" class="needs-validation" novalidate>
    <div class="form-group">
        <label>New password:</label>
        <input name="pw1" type="password" class="form-control" placeholder="Password..." style="border-radius: 20px;" required>
        <div class="invalid-feedback">Password can not be blank!</div>
    </div>
    <div class="form-group">
        <label>Confirm new password:</label>
        <input name="pw2" type="password" class="form-control" placeholder="Password..." style="border-radius: 20px;" required>
        <div class="invalid-feedback">Password can not be blank!</div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" style="width: 130px; border-radius: 16px;">Save changes</button>
    </div>
</form>
</div>
<script src="~/js/Register.js"></script>

