@page
@model Bloggie.Pages.PersonalInformationModel
@{
    Layout = "_ProfileLayout";
    ViewData["Title"] = "PersonalInformation";
}
<div class="container">
    <h2>Personal information</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Email:<h5 class="d-flex justify-content-center"> @Model.UserProfile.Email</h5></li>
        <li class="list-group-item">Role:<h5 class="d-flex justify-content-center"> @Model.UserProfile.Role</h5></li>
        <li class="list-group-item">FullName:<h5 class="d-flex justify-content-center"> @Model.UserProfile.FullName</h5></li>
    </ul>
<div



