@page
@model Bloggie.Pages.CreateCategoryModel
@{
}
<div class="text-danger">
    @Model.ErrorMessage
</div>
<form action="" method="post">
    Name <input asp-for="@Model.newName" type="text" required>
    <input type="submit" value="Submit">
</form>