@page
@model Bloggie.Pages.ListCategoryModel
@{
  Layout = "_AdminLayout";
}
<div class="container">
  <h2>Category List</h2>
  <table class="table list-user-table " style="text-align: center;">
    <tr>
      <th>Category</th>
      <th>Posts</th>
    </tr>

    @foreach (var cate in Model.Categories){
      <tr>
        <td>@cate.Name</td>
        
        <td>
          <a class="btn btn-primary btn-sm" href="/Admin/Category/UpdateCategory?id=@cate.Id">
            Edit
          </a>
        </td>
      </tr>
    }
  </table>
</div>